<div class="main-box">
  <div class="design-box">
    <header class="flex-space-box">
      <div class="logo">
        <a href="#">
          <img src="../../assets/images/logo.svg">
        </a>
      </div>
      <div class="account-detail flex-space-box">
        <div class="users-box flex-space-box">
          <div class="user-thumb">
            <img src="../../assets/images/user.jpg">
          </div>
          <div class="user-name">Williams White</div>
        </div>
        <div class="button-box">
          <button class="blue-button flex-space-box">Logout <img src="../../assets/images/icon-logout.svg"></button>
        </div>
      </div>
    </header>
    <section class="text-center download-section">
      <div class="image-box">
        <img src="../../assets/images/successfful-image.png">
      </div>
      <h3>Payment Successful!</h3>
      <h4>Download Our App</h4>
      <div class="download-buttons">
        <div class="download-item">
          <a href="#">
            <img src="../../assets/images/google-play-badge.svg">
          </a>
        </div>
        <div class="download-item">
          <a href="#">
            <img src="../../assets/images/app-store-apple.svg">
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="photo-box">
    <img src="../../assets/images/sidebar-panel.jpg" class="filled-img">
  </div>
</div>
